<main class="stories">
    <div class="stories__container">
        <ul>
            <ng-container *ngFor="let storie of stories; let i = index">
                <li>
                    <a (click)="storieService.open(i)" [id]="'storie' + i" class="stories__circle">
                        <span class="stories__preview">
                            <img [src]="storie.album" [alt]="storie.title">
                        </span>
                        <span class="stories__title">{{storie.title}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</main>

<app-stories-preview *ngIf="storieService.isOpenedPreview" [stories]="this.stories"></app-stories-preview>
