.preview {
    $background: #000000;
    $background_previous: transparent;
    $background_next: transparent;
    $background_layout: rgba(25, 25, 25, 0.152);
    $color_logo: #FFF;
    $color_close: #FFF;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;

    &__previous {
        width: 100%;
        height: 100%;
        background-color: $background_previous;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 10;
    }

    &__wrapper {
        display: inline-flex;
        flex-direction: row;
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        height: 100%;
        background-color: transparent;
        overflow: scroll;
    }

    &__layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 100%;
        height: 100%;
        background-color: transparent;
        position: relative;

        img {
            width: 100%;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    &__next {
        width: 100%;
        height: 100%;
        background-color: $background_next;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 10;
    }

    &__progress {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 40px 1rem;
        background-color: transparent;
        z-index: 10;
        position: absolute;
        top: 0;

        .load {
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.563);
            position: relative;
        }

        .success::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #FFF;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .active::before {
            content: '';
            width: 80%;
            height: 100%;
            background-color: #FFF;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            animation: progressAnimate 5800ms linear forwards;
            transition: width ease 5800ms;
        }
    }

    &__logo {
        display: none;
        color: $color_logo;
        text-decoration: none;
        font-weight: 400;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 15%;
    }

    &__close {
        cursor: pointer;
        background-color: transparent;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 50%;
        position: absolute;
        top: 50px;
        right: 6%;
        z-index: 10;

        i {
            font-size: 22px;
            color: $color_close;
        }
    }
}

.open {
    display: flex !important;
}

.loading {
    z-index: 30;

    &::after {
        content: '';
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background-color: #000000;
        position: absolute;
    }

    &::before {
        content: '';
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background: conic-gradient(from 45deg, #FFF, #000000);
        animation: loadInfinity linear 0.9s forwards infinite;
        transition: all ease 0.9s;
    }
}

@keyframes progressAnimate {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes loadInfinity {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .preview {
        $background: #000000;
        $background_previous: transparent;
        $background_next: transparent;
        $background_layout: rgba(25, 25, 25, 0.152);
        $color_logo: #FFF;
        $color_close: #FFF;

        display: none;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $background;

        &__previous {
            width: 100%;
            height: 100%;
            background-color: $background_previous;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            min-width: 600px;
            max-width: 600px;
            height: 100%;
            overflow: hidden;
        }

        &__layout {
            width: 100%;
            height: 100%;
            background-color: $background_layout;

            img {
                width: 100%;
                min-width: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }

        &__next {
            width: 100%;
            height: 100%;
            background-color: $background_next;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &__progress {
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 40px 1rem;
            background-color: transparent;
            z-index: 10;
            position: absolute;
            top: 0;

            .load {
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.563);
                position: relative;
            }

            .success::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: #FFF;
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .active::before {
                content: '';
                width: 80%;
                height: 100%;
                background-color: #FFF;
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
                animation: progressAnimate 5800ms linear forwards;
                transition: width ease 5800ms;
            }
        }

        &__logo {
            display: block;
            color: $color_logo;
            text-decoration: none;
            font-weight: 400;
            font-size: 24px;
            position: absolute;
            top: 30px;
            left: 20%;
        }

        &__close {
            cursor: pointer;
            background-color: transparent;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 50%;
            position: absolute;
            top: 30px;
            right: 25%;

            i {
                font-size: 22px;
                color: $color_close;
            }
        }
    }

    .open {
        display: flex !important;
    }

    @keyframes progressAnimate {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .preview {
        $background: #000000;
        $background_previous: transparent;
        $background_next: transparent;
        $background_layout: rgba(25, 25, 25, 0.152);
        $color_logo: #FFF;
        $color_close: #FFF;

        display: none;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $background;

        &__previous {
            width: 100%;
            height: 100%;
            background-color: $background_previous;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &__layout {
            position: relative;
            width: 100%;
            min-width: 600px;
            max-width: 600px;
            height: 100%;
            background-color: $background_layout;
            overflow: hidden;

            img {
                width: 100%;
                min-width: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }

        &__next {
            width: 100%;
            height: 100%;
            background-color: $background_next;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &__progress {
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 40px 1rem;
            background-color: transparent;
            z-index: 10;
            position: absolute;
            top: 0;

            .load {
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.563);
                position: relative;
            }

            .success::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: #FFF;
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .active::before {
                content: '';
                width: 80%;
                height: 100%;
                background-color: #FFF;
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
                animation: progressAnimate 5800ms linear forwards;
                transition: width ease 5800ms;
            }
        }

        &__logo {
            display: block;
            color: $color_logo;
            text-decoration: none;
            font-weight: 400;
            font-size: 24px;
            position: absolute;
            top: 30px;
            left: 2%;
        }

        &__close {
            cursor: pointer;
            background-color: transparent;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 50%;
            position: absolute;
            top: 30px;
            right: 15%;

            i {
                font-size: 22px;
                color: $color_close;
            }
        }
    }

    .open {
        display: flex !important;
    }

    @keyframes progressAnimate {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}
