<main class="preview" data-aos="zoom-in-up">
    <div class="preview__container">
        <button class="btn previous" (click)="previous()"></button>
        <div class="player">
            <app-stories-player
                *ngFor="let storie of stories; let i = index"
                [storie]="storie"
                [isActived]="this.currentStorie === i"
                [wasSeen]="this.currentSlide > i && this.currentSlide <= storie.items!.length"
                [currentSlide]="this.currentSlide"
                (closeChanges)="close()"
                (changeShared)="share()"
                (changePause)="pauseStories()"
            ></app-stories-player>
        </div>
        <button class="btn next" (click)="next()"></button>
    </div>
    <button type="button" class="preview__close" (click)="close()" title="Fechar">
        <i class="bi bi-x-lg"></i>
    </button>
</main>
