:host {
    font-size: 62.5%;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    color: #FFFFFF;

    .preview {
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        scroll-behavior: none;
        z-index: 9999;

        &__container {
            display: grid;
            grid-template-columns: 1fr 578px 1fr;
            grid-template-rows: 100%;
            width: 100%;
            height: 100%;

            .btn {
                border: none;
                outline: none;
                cursor: pointer;
                background-color: transparent;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .previous {
                width: 100%;
                height: 100%;
                grid-column: 1;
                grid-row: 1;
            }

            .player {
                width: 100%;
                height: 100%;
                grid-column: 2;
                grid-row: 1;
            }

            .next {
                width: 100%;
                height: 100%;
                grid-column: 3;
                grid-row: 1;
            }
        }

        &__close {
            position: absolute;
            top: 30px;
            right: 60px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;

            i {
                font-size: 22px;
                color: #FFF;
            }
        }

        &--open {
            display: flex !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    :host {
        .preview {
            &__container {
                grid-template-columns: auto 1fr auto;

                .next {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 50%;
                    z-index: 10;
                }

                .player {
                    width: 100%;
                    height: 100%;
                    grid-column: 1/3;
                    grid-row: 1;
                }

                .previous {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 50%;
                    z-index: 10;
                }
            }

            &__close {
                display: none;
            }
        }
    }
}
